$body-font-family: 'Open Sans', sans-serif;
$font-size-root: calc(100vw / 143);
$main-font-color: #181818;
$gray-font-color: #9e9da2;
$primary-theme-color: #02fdb6;
$error-color: #ef4444;
$main-dark-color: #201e26;

$light-theme-background: #ffffff;
$dark-theme-background: #181818;

$light-theme-font-color: #181818;
$dark-theme-font-color: #ffffff;

// breakpoints
$breakpoint-sm: 599px;
$breakpoint-md: 960px;
$breakpoint-lg: 1440px;
$breakpoint-xl: 1904px;
